h1,
.h1
  font-size: 48px
  color: #fff
  letter-spacing: 2px
  margin-bottom: 10px
  +futura-b
  +md
    font-size: 38px
  +sm
    font-size: 28px

h5,
.h5
  font-size: 18px
  +futura-b
  +md
    max-width: 430px
    margin: 0 auto
  +sm
    font-size: 14px


.title
  font-size: 18px
  color: rgba(#fff, .59)
  +futura-b
  .icon-load
    display: inline-block
    vertical-align: sub
    color: $green
    margin-right: 4px


h1 + .title
  margin-bottom: 60px
  +md
    max-width: 489px
    margin: 0 auto 20px
