---
title: Activation page
---
{% extends "layouts/_layout.html" %}

{% block content %}


<div class="container container_sm">
  <div class="text-center">
    <h1>Идет Активация</h1>

    <div class="title">Мы отправим вам запрос в друзья от odin_conley в течении 2-х минут...</div>
  </div>
  <div class="desc text-center">
    <div class="title desc__caption">
        <svg class="icon icon-load title__icon">
          <use xlink:href="/img/sprite.svg#icon-load"></use>
        </svg>
      <span>
        Запрос отправлен. Пожалуйста, примите его в Steam или на SteamCommunity
      </span>
    </div>

    <div class="desc__img desc__img_shadow">
      <img src="./img/steam-profile.png" alt="">
      <div class="desc__profile profile">
        <div class="profile__pic">
          <img class="" src="./img/bg.jpg" alt="">
        </div>
        <span class="profile__text">EllotDixon</span>
      </div>
    </div>

    <div class="title">После этого нам понадобиться 40-50 сек, что бы подтвердить это</div>
  </div>

  {% include './partials/_slider.html' %}
</div>

{% endblock %}
