---
title: Pages
---
{% extends "layouts/_layout.html" %}

{% block content %}

  <div class="container">
    <ul>
      <li><a href="/main.html" target="_blank" style="color: #fff">/main.html</a></li>
      <li><a href="/second-step.html" target="_blank" style="color: #fff">/second-step.html</a></li>
      <li><a href="/activation.html" target="_blank" style="color: #fff">/activation.html</a></li>
      <li><a href="/error.html" target="_blank" style="color: #fff">/error.html</a></li>
      <li><a href="/completed.html" target="_blank" style="color: #fff">/completed.html</a></li>
    </ul>
  </div>

{% endblock %}
